.vilka_feedback label{
    display: block;
}
.captcha_block {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
    /*width: 49%;*/
}
/*.captcha_block input{
    width: 100%;
}*/
.captcha_img {
    margin-right: 20px;
}

.vilka_feedback.service_order {
    max-width: 400px;
    margin-bottom: 40px;
    border: 1px solid #ccc;
    padding: 0 20px;
    padding-bottom: 40px;
    background-color: #fff;
}

.vilka_feedback.service_order h2 {
    margin-top: 50px;
}